/* ====================================================================
Title: Main stylesheet
Author: Mitch Dunaway
Creator: Blackbaud
Description: 
======================================================================= */

/* Imports
-----------------------------------------------------------------------*/

/* font imports go here */

/* Reset
-----------------------------------------------------------------------*/

/* apply a natural box layout model to all elements */

*,
*:before,
*:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }

html {
	background: none;
	height: 100%;
}

body {	
	background: none;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
}

/* Typography
-----------------------------------------------------------------------*/

body {
	font: 1em/1em Arial, Helvetica, Verdana, sans-serif;
	color: rgb(115, 115, 115);
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

a,
a:active,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Global Classes
-----------------------------------------------------------------------*/

.img-replace {
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

.top-level > .inner {
	max-width: 960px;
	position: relative;
	margin: 0 auto;
	
}

.top-level > .inner,
nav ul { 
	zoom: 1; 
}

.top-level > .inner:after,
nav ul:after { 
	clear: both; 
}

.top-level > .inner:before,
.top-level > .inner:after,
nav ul:before,
nav ul:after { 
	content: ""; 
	display: table; 
}


/* Main Structure
-----------------------------------------------------------------------*/

html {

}

body {
	
}

/* Header
-----------------------------------------------------------------------*/

header.top-level {

}

/* Navigation (Global)
-----------------------------------------------------------------------*/

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
}

nav li a {
	display: block;
}

nav li:hover .drop-down,
nav li:active .drop-down {
	display: block;
}

nav .drop-down {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

nav .drop-down li {
	float: none;
}

/* Navigation (#main_navigation)
-----------------------------------------------------------------------*/

#main_navigation > li{
}

#main_navigation > li:first-child{
}

#main_navigation > li > a,
#main_navigation > li > a:link,
#main_navigation > li > a:visited {
}

#main_navigation > li > a:hover,
#main_navigation > li > a:active {
}

#main_navigation .drop-down {
}

#main_navigation .drop-down a,
#main_navigation .drop-down a:link,
#main_navigation .drop-down a:visited {
}

#main_navigation .drop-down a:hover,
#main_navigation .drop-down a:active {
}

/* #content
-----------------------------------------------------------------------*/

#content {

}

/* Footer
-----------------------------------------------------------------------*/

footer.top-level {

}

/* Responsiveness
-----------------------------------------------------------------------*/

@viewport{
	width: extend-to-zoom;
    zoom: 1.0;    
}


@media only screen and (max-width: 991px) {



}


@media only screen and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {

	
}



